@{
    string pre = @Request.Url.AbsoluteUri;
}

<h2>Запуск запросов @Html.Raw("v")@ViewBag.Version</h2>
<fieldset style="width:800px">
    <legend><strong>OData URL</strong></legend>
    <blockquote>
        <strong>@pre@Html.Raw("&lt;DataSource&gt;/&lt;Path&gt;/odata[Parameters]")</strong>
    </blockquote>
    где:
    <blockquote>
        &lt;DataSource&gt; - источник данных;
        <br/>
        &lt;Path&gt; - путь к запросу;
        <br />
        [Parameters] - параметры запроса (необязательные);
    </blockquote>
    Пример:
    <blockquote>
        <strong>@pre@Html.Raw("aql.eco/Аварийные скважины/Анализ скважин за период/odata?pParam=10")</strong>
    </blockquote>
    Для получения данных необходима базовая авторизация (Authorization: Basic QWxhZGRpbjpPcGVuU2VzYW1l).
</fieldset>
<fieldset style="width:800px">
    <legend><strong>SOAP URL</strong></legend>
    <blockquote>
        <strong><a href="@pre@Html.Raw("soap/utils.svc")">@pre@Html.Raw("soap/utils.svc")</a></strong>
    </blockquote>
    Для получения данных необходима авторизация.
</fieldset>